# The database connection string (e.g., file:./dev.db for SQLite or postgres://user:pass@host/db for PostgreSQL)
DATABASE_URL="file:./dev.db"

# Secret used to encrypt NextAuth.js JWTs and sessions
NEXTAUTH_SECRET="intelligence-core-secret-change-in-production-minimum-32-chars"

# The canonical URL of the site
NEXTAUTH_URL="http://localhost:3000"

# Node environment (development, production, test)
NODE_ENV="development"
